body {
  background-color: #444;
  color: #FFF;
}

header {
  position:absolute;
  background: #333;
  top: 0;
  left: 0;
  right: 0;
  height: 15%;
  padding-left: 2em;
}

header #turn {
  float: right;
  width: 15vmin;
  height: 100%;
  background-image: url("img/end_turn.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1em;
}

h1 {
  margin: 0.5em 0 0 0;
}

header p {
  margin:0;
}

#inst {
  position:absolute;
  background: #333;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
}

#board_container {
  width: 85vmin; height: 85vmin;
  position: absolute;
  top:10%;bottom:5%;
  left:0;right:0;
  margin: auto;
  overflow:hidden;
}

#board {
  width: 100%;
  height: 100%;
  margin-top: 12%;
  margin-left: 12%;
}

.slot {
  position: relative;
  float: left;
  width: 12%;
  height: 13.6%;
  margin:-1.4% 0.3%;
  text-align: center;
}
.odd {
  left:-6.4%;
}

.hidden {
  visibility: hidden;
}

.show {
  background-image: url("img/bg_cell.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.tissue {
  width: 100%;  height: 100%;
  margin-bottom: -100%;
  background-size: contain;
  background-repeat: no-repeat;
}


.VH_tissue{
  background-image: url("img/very_hard_tissue.png");
}
.VH_tissue1{
  background-image: url("img/very_hard_tissue.png");
  opacity: 0.5;
}
.VH_tissue2{
  background-image: url("img/very_hard_tissue.png");
  opacity: 0.2;
}


.H_tissue{
  background-image: url("img/hard_tissue.png");
}
.H_tissue1{
  background-image: url("img/hard_tissue.png");
  opacity: 0.5;
}


.S_tissue{
  background-image: url("img/soft_tissue.png");
}

.cell {
  width: 70%; height: 70%;
  margin-bottom: -100%;
  margin-top:9%;
  margin-left:15%;
  background-size: contain;
  background-repeat: no-repeat; 
}

.stem_cell{
  background-image: url("img/stem_cell.png");
}

.T_cell{
  background-image: url("img/T_cell.png");
}

.B_cell{
  background-image: url("img/B_cell.png");
}

.NK_cell{
  background-image: url("img/NK_cell.png");
}

.cancer {
  background-image: url("img/cancer.png");
}

.hilite {
background-color:red;
}
